html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  padding-bottom: 7%;
  min-height: 100%;
}
.container {
  width: 100%;
  height: inherit;
}
.bandeau {
  width: 100%;
  background-color: #18ffff;
}
td {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  text-align: center;
  padding: 20px;
  width: 20%; /* chaque largeur de cellule represente 20% de la largeur totale les cellules sont régulières étant donné qu'il y a 5 cellules*/
}
.bandeauacceuil,
.bandeaujazz,
.bandeauéveil,
.bandeaucontact {
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
.bandeauclassique {
  text-decoration: none;
  color: white;
}

.bandeauacceuil:hover,
.bandeaujazz:hover,
.bandeauéveil:hover,
.bandeaucontact:hover {
  color: white;
  cursor: pointer;
}

.intropresentationclassique {
  text-align: center;
  margin-top: 65px;
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  text-decoration: underline;
  color: #ffab91;
}
.presentcontainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.presentationclassique {
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
  width: 55%;
  margin-left: 30px;
  line-height: 35px; /* C'est l'espace entre les lignes*/
}
.presentpic {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.concluclassique {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 80px;
  line-height: 25px;
}
#evlink,
#jazzlink,
#fblink {
  color: #ffab91;
  text-decoration: none;
}
#evlink:hover,
#jazzlink:hover,
#fblink:hover {
  color: #18ffff;
}
#photoclassique1,
#photoclassique2 {
  width: 560px;
  border-radius: 3px;
}

.nouscontacter {
  margin-top: 120px;
  color: #ffab91;
  font-size: 330%;
  font-family: "Lobster Two", cursive;
}

#facebook {
  border-radius: 5px;

  width: 130px;

  border: none;
  outline: none;

  transition: 0.2s;
  cursor: pointer;
}
#facebook:hover {
  transform: scale(1.05);
}
#facebook:active {
  transform: scale(0.9);
}
.notrefacebook {
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  color: #39569b;
  font-weight: bold;
}
#Instagram {
  width: 130px;

  border: none;
  outline: none;

  transition: 0.2s;
  cursor: pointer;
}
#Instagram:hover {
  transform: scale(1.05);
}
.notreinsta {
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  color: #39569b;
  font-weight: bold;
}

#map {
  width: 130px;

  border: none;
  outline: none;

  transition: 0.2s;
  cursor: pointer;
}
#map:hover {
  transform: scale(1.05);
}
.notreadresse {
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  color: #39569b;
  font-weight: bold;
  text-align: center;
  padding: 0px;
}

.emploidutempsclass {
  margin-top: 90px;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}
.emploidutempsclasscell {
  font-size: 19px;
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  margin: auto;
  width: 310px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: inherit;
  }
  .bandeau {
    width: 100%;
    background-color: #18ffff;
  }
  td {
    padding: 10px;
    width: 20%;
    font-size: 17px;
    font-family: Monotype Corsiva;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .bandeauacceuil,
  .bandeaujazz,
  .bandeauéveil,
  .bandeaucontact {
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .bandeauclassique {
    text-decoration: none;
    color: white;
  }

  .bandeauacceuil:hover,
  .bandeaujazz:hover,
  .bandeauéveil:hover,
  .bandeaucontact:hover {
    color: white;
    cursor: pointer;
  }

  .intropresentationclassique {
    margin-top: 0;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: Monotype Corsiva;
    font-size: 35px;
    text-decoration: underline;
    color: #ffab91;
  }
  .presentcontainer {
    display: block;
    justify-content: initial;
    margin-top: 40px;
  }
  .presentationclassique {
    margin-left: 0;
    line-height: 30px; /* C'est l'espace entre les lignes*/

    font-size: 18px;
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    width: 100%;
  }
  .presentpic {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .concluclassique {
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 30px;
    line-height: 25px;
  }
  #evlink,
  #jazzlink,
  #fblink {
    color: #ffab91;
    text-decoration: none;
  }
  #evlink:hover,
  #jazzlink:hover,
  #fblink:hover {
    color: #18ffff;
  }
  #photoclassique1,
  #photoclassique2 {
    width: 560px;
    border-radius: 3px;
  }
  .emploidutempsclass {
    margin-top: 50px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
  }
  .emploidutempsclasscell {
    font-size: 19px;
    font-family: "Maven Pro", sans-serif;
    text-align: center;
    margin: auto;
    width: 310px;
  }

  .nouscontacter {
    width: 100%;
    color: #ffab91;
    margin-top: 12%;
    font-size: 230%;
    font-family: Monotype Corsiva;
  }
  #facebook {
    border-radius: 5px;
    width: 70px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  }
  #facebook:hover {
    transform: scale(1.05);
  }
  #facebook:active {
    transform: scale(0.9);
  }
  .notrefacebook {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #39569b;
    font-weight: bold;
  }
  #Instagram {
    width: 70px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  }
  #Instagram:hover {
    transform: scale(1.05);
  }
  .notreinsta {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #39569b;
    font-weight: bold;
  }

  #map {
    width: 70px;

    border: none;
    outline: none;

    transition: 0.2s;
    cursor: pointer;
  }
  #map:hover {
    transform: scale(1.05);
  }
  .notreadresse {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #39569b;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
}
