html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  padding-bottom: 7%;
  min-height: 100%;
}
.container {
  width: 100%;
  height: inherit;
}
.bandeau {
  width: 100%;
  background-color: #18ffff;
}
td {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  text-align: center;
  padding: 20px;
  width: 20%; /* chaque largeur de cellule represente 20% de la largeur totale les cellules sont régulièrent étant donné qu'il y a 5 cellules*/
}
.bandeauacceuil,
.bandeauclassique,
.bandeaujazz,
.bandeaucontact {
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
.bandeauéveil {
  text-decoration: none;
  color: white;
}
.bandeauacceuil:hover,
.bandeauclassique:hover,
.bandeaujazz:hover,
.bandeauéveil:hover,
.bandeaucontact:hover {
  color: white;
  cursor: pointer;
}

.intropresentationeveil {
  text-align: center;
  margin-top: 65px;
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  text-decoration: underline;
  color: #ffab91;
}
.presentcontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.presentationeveil {
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
  width: 55%;
  margin-top: 20px;
  margin-right: 10px;
  line-height: 35px;
  margin-top: 60px;
}
.present2 {
  text-align: center;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 35px;
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
}
.conclueveil {
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  margin-right: 180px;
  margin-left: 180px;
  margin-top: 60px;
  line-height: 35px;
}
#jazzlink,
#classlink,
#fblink {
  color: #ffab91;
  text-decoration: none;
}
#jazzlink:hover,
#classlink:hover,
#fblink:hover {
  color: #18ffff;
}
#photoceveil {
  width: 40%;
  margin-left: 10px;
  margin-top: 20px;
}
.emploidutempseveil {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  border: solid 4px #18ffff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  margin-top: 60px;
}

.nouscontacter {
  margin-top: 120px;
  color: #ffab91;
  font-size: 330%;
  font-family: "Lobster Two", cursive;
}

#facebook {
  border-radius: 5px;

  width: 130px;

  border: none;
  outline: none;

  transition: 0.2s;
  cursor: pointer;
}
#facebook:hover {
  transform: scale(1.05);
}
#facebook:active {
  transform: scale(0.9);
}
.notrefacebook {
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  color: #39569b;
  font-weight: bold;
}
#Instagram {
  width: 130px;

  border: none;
  outline: none;

  transition: 0.2s;
  cursor: pointer;
}
#Instagram:hover {
  transform: scale(1.05);
}
.notreinsta {
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  color: #39569b;
  font-weight: bold;
}

#map {
  width: 130px;

  border: none;
  outline: none;

  transition: 0.2s;
  cursor: pointer;
}
#map:hover {
  transform: scale(1.05);
}
.notreadresse {
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  color: #39569b;
  font-weight: bold;
  text-align: center;
  padding: 0px;
}
@media screen and (max-width: 600px) {
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    width: 100%;
    padding-bottom: 7%;
    min-height: 100%;
  }
  .container {
    width: 100%;
    height: inherit;
  }
  .bandeau {
    width: 100%;
    background-color: #18ffff;
  }
  td {
    padding: 10px;
    width: 20%;
    font-size: 17px;
    font-family: Monotype Corsiva;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; /* chaque largeur de cellule represente 20% de la largeur totale les cellules sont régulièrent étant donné qu'il y a 5 cellules*/
  }
  .bandeauacceuil,
  .bandeauclassique,
  .bandeaujazz,
  .bandeaucontact {
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .bandeauéveil {
    text-decoration: none;
    color: white;
  }
  .bandeauacceuil:hover,
  .bandeauclassique:hover,
  .bandeaujazz:hover,
  .bandeauéveil:hover,
  .bandeaucontact:hover {
    color: white;
    cursor: pointer;
  }

  .intropresentationeveil {
    width: 100%;
    text-align: center;
    padding-top: 0px;
    font-family: Monotype Corsiva;
    font-size: 35px;
    text-decoration: underline;
    margin-top: 50px;
    color: #ffab91;
  }
  .presentcontainer {
    display: block;
    justify-content: initial;
    padding-top: 50px;
  }
  #photoceveil {
    width: 100%;
    margin-top: 13px;
    margin-left: 0;
  }
  #eveilpic {
    width: 100%;
  }
  .presentationeveil {
    width: initial;
    font-size: 18px;
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    line-height: 25px;
  }
  .present2 {
    font-size: 18px;
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 60px;
    line-height: 25px;
  }
  .emploidutempseveil {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 98%;
    border: solid 4px #18ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    margin-top: 60px;
  }
  .conclueveil {
    font-size: 18px;
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 60px;
    line-height: 25px;
  }
  #jazzlink,
  #classlink,
  #fblink {
    color: #ffab91;
    text-decoration: none;
  }
  #jazzlink:hover,
  #classlink:hover,
  #fblink:hover {
    color: #18ffff;
  }

  .nouscontacter {
    width: 100%;
    color: #ffab91;
    margin-top: 12%;
    font-size: 230%;
    font-family: Monotype Corsiva;
  }
  #facebook {
    border-radius: 5px;
    width: 70px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  }
  #facebook:hover {
    transform: scale(1.05);
  }
  #facebook:active {
    transform: scale(0.9);
  }
  .notrefacebook {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #39569b;
    font-weight: bold;
  }
  #Instagram {
    width: 70px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  }
  #Instagram:hover {
    transform: scale(1.05);
  }
  .notreinsta {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #39569b;
    font-weight: bold;
  }

  #map {
    width: 70px;

    border: none;
    outline: none;

    transition: 0.2s;
    cursor: pointer;
  }
  #map:hover {
    transform: scale(1.05);
  }
  .notreadresse {
    font-size: 20px;
    font-family: "Maven Pro", sans-serif;
    color: #39569b;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
}
